

/* Animation for all the divs */




.index-body{
    
    overflow-x: hidden !important;
    background-color: rgb(0, 0, 0);



}


/*  */

/* design For Navigation Menu  starts*/



.b-btn{
width: 50% !important;
}







.hhh{
color: yellow;
}
.offcanvas-end{
border-radius: 2rem;
}

.ul{
text-align: center;
margin-left: auto;
margin-right: auto;
}
/* for the unordered list */
.ul-li{
margin-left: 6rem;
color: white !important;
font-size: 1rem;
font-weight: bold;


}
.ul-li:hover{
  background-color: blueviolet;
  font-size: 2rem;
  border-radius:1rem;
  transition-duration: 0.5s;
  
  }


/* for the link inside the unoredered list */
.ul-a{
color: white !important;
}

.nav-button{
background-color: blueviolet !important;
color: rgb(255, 255, 255) !important;


}


.nav-bar{
background-color: #8400ff;
}
/* Design For Navigation Menu Ends */


/* second nav bar */

.ibutton{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  background-color: blueviolet;
  color: #fff;
}

.ibutton:hover{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.ibuttonn{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 2px solid white;
}
.ibuttonn:hover{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  background-color: blueviolet;
  color: #fff;
  border: 2px solid white;
}








/* Third Content ends */



/* fourth Content Starts */



.ff{
background-color: rgb(0, 0, 0) !important;
padding-top: 3rem !important;
padding-bottom: 3rem !important;
}





/* Media query for small screens */
@media (max-width: 768px) {
footer {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Reduce column width on smaller screens */
  grid-gap: 10px; /* Reduce gap between columns on smaller screens */
}
}




/* SIGN-UP CSS DESIGN XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.s-body{
background-color: rgb(0, 0, 0) !important;

}
.form-img{
text-align: left !important;
justify-self: left !important;
}
.content{
margin-top: 40px;
}
.mb-3{
text-align: left !important;
}

.mb-5{
  text-align: center;
}

.very{
  margin-top: 9rem;
}



.buto{

background-color: rgb(0, 255, 149);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
color: black;
border-radius: 15px;
width: 50%;
}

.Signpage{
border-radius: 15px;
padding-top: -10px !important;
padding-bottom: -10px;
}

/* space */
.buto:hover{
background-color:  rgb(153, 0, 255) ;
border-color:  rgb(0, 255, 149) ;
}
@media screen and (min-width:600px) {

.buto{
 width: 40%;
}
}


.fasa{
margin-top: -60px;
}
#rda{
 margin-top: 70px;
}
#maka{
  
  background-image: url('/image/blap.jpg');
  background-size: cover;
  padding-bottom: 50px;
  margin-top: -30px;

}
/* space */


#form{
  
  margin-left: auto;
  margin-right: auto;

}


#input{
  background-color: rgb(48, 47, 47) !important;
  border: none !important;
  

}
/* homepage design xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.textinfo{
color: blueviolet ;

}


.nd{
background-color: #000000 !important;



}

.SOK:hover{
  background-color: blueviolet;
  padding: 1rem !important;
  
  border-radius: 1rem;
  transition-duration: 0.3s !important;
}

.SOKK{
  border: 2px solid blueviolet;
  padding: 0.5rem;
  border-radius: 1rem;
  /* background-color: blueviolet; */
}

.home{
background-color: rgb(0, 0, 0) !important;
margin-bottom: 1rem;

overflow-x: hidden;

}
section{
margin: 20px;
}

.navv-img{
background-color: rgb(9, 0, 17);
}

.nav-border{
border: 3px solid rgb(0, 0, 0) !important;
}

/* content of the page design starts */

.wi{
margin-top: 1.rem;

}

.sliderb{
width: 25%;
height: 5px;
background: rgb(0, 255, 191);
border-radius: 5px;
margin-left: auto;
margin-right: auto;
}

.two{
border-radius: 3rem;
}

.koi{
  background-color: #100e1a;
  padding: 2rem;
  border-radius: 2rem;
}


.vmg{
border-radius: 3rem;
}

.vmgg{
  border-radius: 1rem;
  transform:rotate(10deg);
  box-shadow: 7px 7px rgb(255, 255, 255);
  border: 3px solid black;
  
}

.vmp{
  border-radius: 1rem;
  transform:rotate(-10deg);
  box-shadow: 7px 7px rgb(255, 255, 255);
  border: 3px solid black;
  
}

.naa{
margin-top: -2rem;
}



.gst{
margin-top: -3rem;



color: #fff;
border: none;
position: fixed;
right: 0px !important;

padding: 10px 20px;
font-size: 16px;
cursor: pointer;
margin: 1rem;
}


.S-h{
color: rgb(0, 252, 147);
}

.chart{
color: black !important;
}





/* Home 3 starts ---------------------------------------------------------- */

.collapseExample{


/* border: 8px solid  rgb(0, 255, 157); */
font-size: 15px;
color: rgb(255, 255, 255) !important;
border-radius: 2rem;
margin: 0.2rem;
/* border: 3px solid white; */
background-color: #202020;

}


.ilov{
border-radius: 3rem;
border: 2px solid blueviolet;
margin-bottom: 1rem;

}





/* home 3 ends here */


/* home 4 starts here -------------------*/
.btn-primaryy{
background-color: rgb(0, 252, 147);
padding-left: 2rem;
padding-right: 2rem;
}
.ghost-img{
transform: rotate(-10deg);
}
/* home 4 ends */








/* Game Designs Starts Here xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
















#counter {
font-size: 3rem;

color: rgb(255, 255, 255);

}


#counterr{
  font-size: 4rem;
  
  color: rgb(0, 255, 98);
  
  }













