body {
    margin: 0;
    padding: 0;
  
}

html{
    scroll-behavior: smooth;
}

.bottom-bar {
    position: fixed !important;
    bottom: 0;
    
    width: 100%;
    
    
    text-align: center !important;
    padding: 1px;


}




.buttonx{
   
    border-radius: 0.9rem;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0) ;
    border: 2px solid #2c2c2c ;
     
  
}

.buttonx img {
     width: 30px !important;
}



.custom-card {
   background-color: #0c0c0c;
    /* background: linear-gradient(to right, rgb(18, 2, 27), rgb(45, 1, 51)); */
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    border: 1px solid rgb(39, 39, 39);
    
    
}
.custom-card img {
    border-radius: 3rem;
}
.custom-inner-card {
    background-color: #1a1a1a;
    
    border-radius: 1rem;
    padding: 0.5rem;
    
}

.ca:hover{ 
    color: black;
}
.gc{
  
    color: #00ff73;
}

.offcanvas{
    background-color: #000000 !important;
    border-radius: 1rem;
    border-left: 1px solid white;
    
   }
.offp{
    color: #ffffff;
    font-size: 1.5rem;
    
    padding: 0.5rem;
    border-radius: 1rem;
}

.bottom-nav{
    position: fixed !important;
}

.bgn{
    background: none;
}

