body {
    margin: 0;
    padding: 0;
  
}

html{
    scroll-behavior: smooth;
}

.bottom-bar {
    position: fixed !important;
    bottom: 0;
    
    width: 100%;
    
    
    text-align: center !important;
    padding: 1px;


}


.button-container-r {
    display: flex;
    .button-container {
    display: flex;
    gap: 10px; /* Reduced gap between buttons */
    display: flex;
    justify-content: left;
    align-items: center;
   
   
    margin: 0;
}

}
.icon-text-container{
  display: flex;
  align-items: baseline;
}

.icon {
   margin-right: 10px ;
}


@media (max-width: 1000px) {
    .WEB{
      display: none;
    }
  }

  @media (min-width: 1000px) {
    .MOB{
      display: none;
    }
  }

  .button {
    color: white;
    
  }

  @media only screen and (max-width: 600px) {
    .button {
      font-size: 1rem;
      padding: 15px 30px;
    }
  }

  .p-img {
    border-radius: 7rem;
  }

  .vmg {
    border-radius: 2rem;
  }

  .form-check {
    text-align: left;
  }

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    width: 100%;
    bottom: 0;
    padding: 0px 0;
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .button {
    flex: 1;
    text-align: center;
  }

  .buttonx {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #000000;
    border-radius: 1rem;
    border: 1px solid rgb(44, 10, 59);
  }

  .buttonx img {
    display: block;
    margin: 0 auto;
    width: 30px !important;
  
  }








.custom-card {
   background-color: #0c0c0c;
    /* background: linear-gradient(to right, rgb(18, 2, 27), rgb(45, 1, 51)); */
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    border: 1px solid rgb(39, 39, 39);
    
    
}
.custom-card img {
    border-radius: 3rem;
}
.custom-inner-card {
    background-color: #1a1a1a;
    
    border-radius: 1rem;
    padding: 0.5rem;
    
}

.ca:hover{ 
    color: black;
}
.gc{
  
    color: #00ff73;
}

.offcanvas{
    background-color: #000000 !important;
    border-radius: 1rem;
    border-left: 1px solid white;
    
   }
.offp{
    color: #ffffff;
    font-size: 1.5rem;
    
    padding: 0.5rem;
    border-radius: 1rem;
}

.bottom-nav{
    position: fixed !important;
}

.bgn{
    background: none;
}

.Nweb{
    margin: 3rem;
}

.Nweb i{
    background-color: #000000;
    padding: 1rem;
    
    border: 2px solid rgb(36, 36, 36);
    border-radius: 1rem;
}